{# templates/activity_reservation/success.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Reservation Successful{% endblock %}

{% block body %}
<h1>Reservation Successful!</h1>
<p>Your reservation has been successfully made. Thank you!</p>
{% endblock %}
