{% extends 'base.html.twig' %}


{% block title %}Nos boissons chaudes{% endblock %}
{% block stylesheets %}
    <style>
        .greyed-out {
            opacity: 0.5;
        }
    </style>
{% endblock %}
{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Nos boissons chaudes </h1>
    <p class="text-center">Tsarbucks c'est avant tout un salon de café mais pour honorer la culture russe nous servons aussi du thé.</p>
    <div class="row">
        <!-- Boissons Chaudes -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ asset('images/molokom.jpg') }}" class="card-img-top" alt="Boissons Chaudes">
                <div class="card-body">
                    <h5 class="card-title">Cafés</h5>
                    <p class="card-text">Une grande sélection pour les amateurs les plus exigeants</p>
                    <a href="{{ path('app_cafe') }}" class="btn btn-success">En savoir plus</a>
                    </div>
                    </div>
        </div>
        <!-- Brunchs -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ asset('images/puerh.jpg') }}" class="card-img-top" alt="Brunchs">
                <div class="card-body">
                    <h5 class="card-title">Thés</h5>
                    <p class="card-text">Servis dans un samovar pour une expérience unique.</p>
                    <a href="" class="btn btn-success">En savoir plus</a>
                    </div>
                    </div>
                    </div>
        <!-- Goûners -->  
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ asset('images/chocolat_chaud_blanc.jpg') }}" class="card-img-top" alt="Goûners">
                <div class="card-body">
                    <h5 class="card-title">Chocolats chaud</h5>
                    <p class="card-text">Pour les enfants</p>
                    <a href="" class="btn btn-success">En savoir plus</a>
                    </div>
                    </div>

    </div>
</div>
{% endblock %}
