{% extends 'base.html.twig' %}

{% block title %}Club d'Échecs Tsarbucks{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Bienvenue au Club d'Échecs Tsarbucks</h1>

    <p class="text-justify">Le club d'échecs Tsarbucks est un lieu de rencontre pour les passionnés d'échecs. Que vous soyez débutant ou joueur expérimenté, vous êtes les bienvenus pour partager votre passion et améliorer vos compétences.</p>

    <h2 class="mt-4">Nos Activités</h2>
    <p class="text-justify">Nous organisons régulièrement des tournois, des cours et des soirées thématiques. Rejoignez-nous pour des moments conviviaux et enrichissants autour de l'échiquier.</p>

    <h2 class="mt-4">Horaires</h2>
    <p class="text-justify">Le club est ouvert tous les jours de 10h à 22h. Les tournois ont lieu tous les samedis à partir de 14h.</p>

    <h2 class="mt-4">Contact</h2>
    <p class="text-justify">Pour plus d'informations, contactez-nous à l'adresse suivante : <a href="mailto:club.echecs@tsarbucks.com">club.echecs@tsarbucks.com</a>.</p>

    <div class="text-center mt-4">
        <img src="{{ asset('images/chess.jpg') }}" class="img-fluid " alt="Club d'Échecs Tsarbucks">
        <br>
    </div>
    <br
</div>
{% endblock %}
