{# templates/activity_reservation/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Activity Reservation{% endblock %}

{% block body %}
<h1>Activity Reservation</h1>

{{ form_start(reservationForm) }}
    {{ form_widget(reservationForm) }}
    <button class="btn btn-primary">Reserve</button>
{{ form_end(reservationForm) }}
{% endblock %}
