{% extends 'base.html.twig' %}

{% block title %}Tableau de Bord Admin{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Tableau de Bord Admin</h1>

    <div class="row">
        <!-- Statistiques des Utilisateurs -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Statistiques des Utilisateurs</h5>
                    <p class="card-text"><strong>Nombre d'Utilisateurs:</strong> </p>
                    <p class="card-text"><strong>Nouveaux Utilisateurs (30 jours):</strong> </p>
                    <p class="card-text"><strong>Utilisateurs Actifs:</strong> </p>
                </div>
            </div>
        </div>

        <!-- Statistiques des Salons -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Statistiques des Salons</h5>
                    <p class="card-text"><strong>Nombre de Salons: 6 </strong> </p>
                    <p class="card-text"><strong>Nouveaux Salons (30 jours): 0 </strong> </p>
                    <p class="card-text"><strong>Salons Actifs: 6</strong></p>
                </div>
            </div>
        </div>

        <!-- Statistiques des Commandes -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Statistiques des demandes de contact</h5>
                    <p class="card-text"><strong>Nombre de demandes:</strong> </p>
                    <p class="card-text"><strong>Nouvelles demandes (30 jours):</strong> </p>
                    <p class="card-text"><strong>Demandes en Attente:</strong> </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Liens Utiles -->
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Liens Utiles</h5>
                    <a href="{{ path('app_user_index') }}" class="btn btn-primary btn-lg mb-2">Liste des Utilisateurs</a>
                    <a href="{{ path('app_salons') }}" class="btn btn-lg btn-secondary mb-2">Liste des Salons</a>
                    <a href="{{ path('app_admin_contact_index') }}" class="btn btn-success btn-lg mb-2">Liste des demandes</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
