{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
    <div class="mb-3">
        {{ form_widget(form) }}
    </div>
    <button type="submit" class="btn btn-success btn-lg text-white">
        {{ button_label|default('Enregistrer') }}
    </button>
{{ form_end(form) }}
