{# templates/admin/password_reset_request.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Request Admin Password Reset{% endblock %}

{% block body %}
<h1>Request Admin Password Reset</h1>

<form method="post">
    <label for="inputEmail">Email</label>
    <input type="email" name="email" id="inputEmail" class="form-control" required>

    <button class="btn btn-primary mt-3" type="submit">
        Request Reset
    </button>
</form>
{% endblock %}
