{% extends 'base.html.twig' %}

{% block title %}Atelier de Langue et Culture Russe Tsarbucks{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Bienvenue à l'Atelier de Langue et Culture Russe Tsarbucks</h1>

    <p class="text-justify">L'atelier de langue et culture russe Tsarbucks est l'endroit idéal pour apprendre et approfondir vos connaissances en russe tout en découvrant la riche culture de ce pays. Que vous soyez débutant ou déjà familiarisé avec la langue, nos ateliers vous offrent l'opportunité d'améliorer vos compétences linguistiques et culturelles.</p>

    <h2 class="mt-4">Nos Ateliers</h2>
    <p class="text-justify">Nous proposons une variété d'ateliers, allant des cours de langue aux sessions culturelles sur l'histoire, la littérature, et les traditions russes. Rejoignez-nous pour des sessions interactives et enrichissantes.</p>

    <h2 class="mt-4">Horaires</h2>
    <p class="text-justify">Les ateliers ont lieu tous les lundis et jeudis de 18h à 20h. Inscrivez-vous dès maintenant pour réserver votre place.</p>

    <h2 class="mt-4">Contact</h2>
    <p class="text-justify">Pour plus d'informations, contactez-nous à l'adresse suivante : <a href="mailto:atelier.russie@tsarbucks.com">atelier.russie@tsarbucks.com</a>.</p>

    <div class="text-center mt-4">
        <img src="{{ asset('images/russe.jpg') }}" class="img-fluid" alt="Atelier de Langue et Culture Russe Tsarbucks">
    </div>
    <br>
</div>
{% endblock %}
