{% extends 'base.html.twig' %}

{% block title %}Contactez-Nous{% endblock %}

{% block body %}
<section class="py-5 bg-light">
    <div class="container">
        <h1 class="text-center mb-4">Contactez-Nous</h1>
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">Nous Sommes à Votre Écoute</h2>
                <p>
                    Si vous avez des questions, des commentaires ou des préoccupations, n'hésitez pas à nous contacter. Nous sommes là pour vous aider et nous nous réjouissons de recevoir vos retours.
                </p>
                <ul class="list-unstyled">
                    <li><strong>Adresse :</strong> 123 Avenue Stalingrad, Bordeaux, France</li>
                    <li><strong>Téléphone :</strong> +33 1 23 45 67 89</li>
                    <li><strong>Email :</strong> <a href="mailto:contact@tsarbucks.com">contact@tsarbucks.com</a></li>
                </ul>
            </div>
       
            </div>
        </div>
    </div>
</section>
{% endblock %}
