{% extends 'base.html.twig' %}

{% block title %}Условия использования{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Условия использования</h1>

    <p>Добро пожаловать на наш сайт. Посещая нашу платформу, вы соглашаетесь соблюдать данные Условия использования (УУ).</p>

    <h2>1. Преамбула</h2>
    <p>
        Данные УУ предназначены для определения условий, при которых пользователи получают доступ и используют сайт.
        Использование этого сайта подразумевает полное и безоговорочное принятие этих УУ.
    </p>

    <h2>2. Доступ к сайту</h2>
    <p>
        Сайт доступен 24/7, за исключением случаев технического обслуживания или событий, выходящих за рамки нашего контроля.
        Мы оставляем за собой право прервать доступ к сайту в любое время по техническим или юридическим причинам.
    </p>

    <h2>3. Регистрация</h2>
    <p>
        Для доступа к определённым функциям вам необходимо создать аккаунт, предоставив точную и актуальную информацию.
        Пользователи младше 16 лет должны получить родительское разрешение перед регистрацией.
    </p>

    <h2>4. Обязанности пользователя</h2>
    <p>
        Пользователь обязуется не:
        <ul>
            <li>Использовать сайт в незаконных или запрещённых законом целях.</li>
            <li>Делиться клеветнической, оскорбительной или обидной информацией.</li>
            <li>Пытаться нарушить безопасность сайта или его пользователей.</li>
        </ul>
    </p>

    <h2>5. Персональные данные</h2>
    <p>
        Собранная информация используется в соответствии с нашей политикой конфиденциальности.
        Вы имеете право на доступ, изменение или удаление своих данных, связавшись с нами.
    </p>

    <h2>6. Интеллектуальная собственность</h2>
    <p>
        Все содержимое (тексты, изображения, логотипы) сайта защищено авторским правом.
        Любое несанкционированное воспроизведение или использование строго запрещено.
    </p>

    <h2>7. Изменение УУ</h2>
    <p>
        Мы оставляем за собой право изменять эти УУ в любое время. Изменения вступают в силу с момента их публикации.
    </p>

    <h2>8. Применимое законодательство</h2>
    <p>
        Данные УУ регулируются французским законодательством. В случае спора компетентными будут суды нашего головного офиса.
    </p>

    <h2>9. Контакт</h2>
    <p>
        По любым вопросам, касающимся этих УУ, пожалуйста, свяжитесь с нами по следующему адресу: <a href="mailto:support@tsarbucks.com">support@tsarbucks.com</a>.
    </p>

    <div class="mt-4">
        <a href="{{ path('app_home') }}" class="btn btn-success">Вернуться на главную</a>
    </div>
    <br>
</div>
{% endblock %}
