{% extends 'base.html.twig' %}

{% block title %}Menú de Desayuno, Brunch y Merienda - Tsarburg{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Menú de Desayuno, Brunch y Merienda de Tsarburg</h1>
    <p class="text-center lead">Empieza tu día con un desayuno real, continúa con un delicioso brunch y termina con una merienda ideal para el final del día o una cena ligera.</p>

    <div class="row">
        <!-- Sección: Bebidas -->
        <div class="col-md-6">
            <h2 class="mb-4">Bebidas</h2>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fbrookrest.com%2Fwp-content%2Fuploads%2F2020%2F05%2FAdobeStock_315919556-scaled.jpeg&f=1&nofb=1&ipt=0f6caf17bea439e9fce807fbbdc82037179101c1cc0d84d73069c730a5a0fc45&ipo=images" class="img-fluid" alt="Café Latte Romanov" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Café Latte "Romanov" <span class="float-end">3.50€</span></h4>
                    <p>Un latte cremoso y suave, perfecto para un despertar suave que evoca la grandeza de la dinastía Romanov.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Frematcha.com%2Fwp-content%2Fuploads%2Fsites%2F13%2F2018%2F06%2Fb25.jpg&f=1&nofb=1&ipt=8d78450961d7c4b4dbac4d3fe175861ccb3727553e5a48d6ce20617652473b4a&ipo=images" class="img-fluid" alt="Matcha Imperial" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Matcha "Imperial" <span class="float-end">4.00€</span></h4>
                    <p>Una matcha vibrante, energizante, ideal para una pausa revitalizante con un toque de lujo imperial.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdmn-dallas-news-prod.cdn.arcpublishing.com%2Fresizer%2FdDeGbvP9Q38gIDiYIRsd4DCgpzs%3D%2F1660x0%2Fsmart%2Ffilters%3Ano_upscale()%2Farc-anglerfish-arc2-prod-dmn.s3.amazonaws.com%2Fpublic%2FDFNZP6GCONG3BOKSA7L6I66VQQ.jpg&f=1&nofb=1&ipt=a462b80d0ed9276ebb8cb3bf657e33e5ee96a9ed91cb01c64c72cb340203a298&ipo=images" class="img-fluid" alt="Cold Brew Stalin" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Cold Brew "Stalin" <span class="float-end">3.80€</span></h4>
                    <p>Un cold brew intenso y potente para aquellos que necesitan un impulso fuerte, digno del acero.</p>
                </div>
            </div>
        </div>

        <!-- Sección: Desayunos y Brunches -->
        <div class="col-md-6">
            <h2 class="mb-4">Desayunos & Brunches</h2>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fe00-telva.uecdn.es%2Fassets%2Fmultimedia%2Fimagenes%2F2020%2F10%2F05%2F16018972663315.jpg&f=1&nofb=1&ipt=400979962389425f1f20a400014b2b96a64fc995e30a0bfcfb68a10ef5692795&ipo=images" class="img-fluid" alt="Croissant Imperial" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Croissant "Imperial" <span class="float-end">2.50€</span></h4>
                    <p>Un croissant dorado y crujiente, servido con una selección de mermeladas y mantequilla. Un clásico que nunca pasa de moda.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthefoodcafe.com%2Fwp-content%2Fuploads%2F2017%2F10%2FAvocado-Toast-With-Egg-13-copy.jpg&f=1&nofb=1&ipt=107665b1e7ad94557f09063c01490b3cbfb6aff3d7bc0036877f05111ebca03d&ipo=images" class="img-fluid" alt="Tostada de Aguacate Romanov" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Tostada de Aguacate "Romanov" <span class="float-end">6.50€</span></h4>
                    <p>Pan de artesanía con aguacate machacado, semillas y jugo de limón. Un brunch refinado para un estilo imperial moderno.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvalentinascorner.com%2Fwp-content%2Fuploads%2F2018%2F11%2FClassic-Pancakes-9-900x1350.jpg&f=1&nofb=1&ipt=34668bc9fd43813ddc5ce2cad59cd66f973f14afe031c5c48a011d0b20ca8c94&ipo=images" class="img-fluid" alt="Panqueques Tolstoy" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Panqueques "Tolstoy" <span class="float-end">7.00€</span></h4>
                    <p>Panqueques esponjosos servidos con sirope de arce, mantequilla y frutas frescas. Tan ricos en sabor como las obras del famoso autor.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección: Merienda -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="mb-4 text-center">Merienda</h2>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.s5p7jWSmm8tBrQvVImYHBwHaFX%26pid%3DApi&f=1&ipt=23e4cbe9fc3b7b7acd2d07199a0d1b78b85d6308e62da53bd0e24be7c029e099&ipo=images" class="img-fluid" alt="Sándwich Príncipe Vladimir" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Sándwich "Príncipe Vladimir" <span class="float-end">8.00€</span></h4>
                    <p>Sándwich generoso con pan de centeno, salmón ahumado y crema agria. Un sabor rico, digno de la aristocracia rusa.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flittlesunnykitchen.com%2Fwp-content%2Fuploads%2F2020%2F11%2FEasy-Quiche-Recipe-1.jpg&f=1&nofb=1&ipt=13538cc6e128ac3b56e61c67d063e8e47304020d5dc1341e38d32e06fd4dc3ab&ipo=images" class="img-fluid" alt="Quiche Tatiana" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Quiche "Tatiana" <span class="float-end">7.50€</span></h4>
                    <p>Quiche suave con espinacas y queso de cabra, ideal para una comida ligera pero satisfactoria.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.thespruceeats.com%2Fthmb%2FRaDQlX0Pa5N9vo-7hg_u-ASqsxY%3D%2F2121x1414%2Ffilters%3Afill(auto%2C1)%2FGettyImages-619568738-597404dd6f53ba001080a5e2.jpg&f=1&nofb=1&ipt=cabf7917f6911201423d626609499384c05e83d5c4b48b33603602d2e71c8667&ipo=images" class="img-fluid" alt="Tarta Napoleón" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Tarta "Napoleón" <span class="float-end">5.00€</span></h4>
                    <p>Clásica tarta de masa hojaldrada y crema pastelera, ideal para una merienda elegante.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección: Menú para Niños -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="mb-4 text-center">Menú para Niños</h2>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.static-rmg.be%2Fa%2Fview%2Fq75%2Fw%2Fh%2F2017822%2Fhot-jpg.jpg&f=1&nofb=1&ipt=a630f24adc49182bfd8bea1c3ac1f441ba041da870b9f4c527659794dda95ec5&ipo=images" class="img-fluid" alt="Chocolate Caliente Pequeña Dama" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Chocolate Caliente "Pequeña Dama" <span class="float-end">2.00€</span></h4>
                    <p>Chocolate caliente suave y cremoso, ideal para pequeños aristócratas.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fzenandspice.com%2Fwp-content%2Fuploads%2F2018%2F03%2Fblueberry-muffins-5.jpg&f=1&nofb=1&ipt=2adbf979d332053e5ee9c74c58aedfcf043290cb72197d7da288081f9b8ff733&ipo=images" class="img-fluid" alt="Mini Muffins Romanov" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Mini Muffins "Romanov" <span class="float-end">3.00€</span></h4>
                    <p>Variedad de mini muffins, perfectos para manos pequeñas y grandes apetitos.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fbonmatin.ch%2Fwp-content%2Fuploads%2F2016%2F04%2Fcoupe-fruits-frais-high.jpg&f=1&nofb=1&ipt=f1440cd042798bd9a0f4393d3054273d060cd5d91dd3c3d87c33b0418cf464b9&ipo=images" class="img-fluid" alt="Ensalada de Frutas Zarévich" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Ensalada de Frutas "Zarévich" <span class="float-end">2.50€</span></h4>
                    <p>Dados de frutas frescas y coloridas, perfectos para un bocadillo saludable y delicioso.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-5">
        <p>¿Te ha gustado nuestro menú? ¡No olvides reservar tu mesa para disfrutar de estas delicias reales!</p>
        <a href="{{ path('app_reservation') }}" class="btn btn-success">Reservar una Mesa</a>
    </div>
</div>
{% endblock %}
