{% extends 'base.html.twig' %}

{% block title %}Menu Petit Déjeuner, Brunch & Goûner - Tsarbucks{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Menu Petit Déjeuner, Brunch & Goûner Tsarbucks</h1>
    <p class="text-center lead">Commencez votre journée avec un petit déjeuner royal, poursuivez avec un brunch délicieux, et terminez avec un goûner parfait pour une fin d'après-midi ou un dîner léger.</p>

    <div class="row">
        <!-- Section: Boissons -->
        <div class="col-md-6">
            <h2 class="mb-4">Boissons</h2>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fbrookrest.com%2Fwp-content%2Fuploads%2F2020%2F05%2FAdobeStock_315919556-scaled.jpeg&f=1&nofb=1&ipt=0f6caf17bea439e9fce807fbbdc82037179101c1cc0d84d73069c730a5a0fc45&ipo=images" class="img-fluid" alt="Café Latte Romanov" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Café Latte "Romanov" <span class="float-end">3.50€</span></h4>
                    <p>Un latte crémeux et doux, parfait pour un réveil en douceur, tout en évoquant la grandeur de la dynastie Romanov.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Frematcha.com%2Fwp-content%2Fuploads%2Fsites%2F13%2F2018%2F06%2Fb25.jpg&f=1&nofb=1&ipt=8d78450961d7c4b4dbac4d3fe175861ccb3727553e5a48d6ce20617652473b4a&ipo=images" class="img-fluid" alt="Matcha Impérial" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Matcha "Impérial" <span class="float-end">4.00€</span></h4>
                    <p>Un matcha vibrant, énergisant, parfait pour une pause bien-être, avec une touche de luxe impérial.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdmn-dallas-news-prod.cdn.arcpublishing.com%2Fresizer%2FdDeGbvP9Q38gIDiYIRsd4DCgpzs%3D%2F1660x0%2Fsmart%2Ffilters%3Ano_upscale()%2Farc-anglerfish-arc2-prod-dmn.s3.amazonaws.com%2Fpublic%2FDFNZP6GCONG3BOKSA7L6I66VQQ.jpg&f=1&nofb=1&ipt=a462b80d0ed9276ebb8cb3bf657e33e5ee96a9ed91cb01c64c72cb340203a298&ipo=images" class="img-fluid" alt="Cold Brew Staline" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Cold Brew "Staline" <span class="float-end">3.80€</span></h4>
                    <p>Un cold brew intense et puissant, pour ceux qui ont besoin d'un coup de fouet digne de fer.</p>
                </div>
            </div>
        </div>

        <!-- Section: Petits Déjeuners et Brunchs -->
        <div class="col-md-6">
            <h2 class="mb-4">Petits Déjeuners & Brunchs</h2>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fe00-telva.uecdn.es%2Fassets%2Fmultimedia%2Fimagenes%2F2020%2F10%2F05%2F16018972663315.jpg&f=1&nofb=1&ipt=400979962389425f1f20a400014b2b96a64fc995e30a0bfcfb68a10ef5692795&ipo=images" class="img-fluid" alt="Croissant Impérial" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Croissant "Impérial" <span class="float-end">2.50€</span></h4>
                    <p>Un croissant doré et croustillant, servi avec une sélection de confitures et de beurre. Un classique indémodable.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthefoodcafe.com%2Fwp-content%2Fuploads%2F2017%2F10%2FAvocado-Toast-With-Egg-13-copy.jpg&f=1&nofb=1&ipt=107665b1e7ad94557f09063c01490b3cbfb6aff3d7bc0036877f05111ebca03d&ipo=images" class="img-fluid" alt="Avocado Toast Romanov" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Avocado Toast "Romanov" <span class="float-end">6.50€</span></h4>
                    <p>Du pain artisanal garni d'avocat écrasé, de graines et de jus de citron. Un brunch raffiné pour un empire moderne.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvalentinascorner.com%2Fwp-content%2Fuploads%2F2018%2F11%2FClassic-Pancakes-9-900x1350.jpg&f=1&nofb=1&ipt=34668bc9fd43813ddc5ce2cad59cd66f973f14afe031c5c48a011d0b20ca8c94&ipo=images" class="img-fluid" alt="Pancakes Tolstoï" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Pancakes "Tolstoï" <span class="float-end">7.00€</span></h4>
                    <p>Pancakes moelleux servis avec du sirop d'érable, du beurre et des fruits frais. Aussi riches en saveurs que les écrits du célèbre auteur.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Section: Goûner (Goûter + Dîner) -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="mb-4 text-center">Goûner</h2>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.s5p7jWSmm8tBrQvVImYHBwHaFX%26pid%3DApi&f=1&ipt=23e4cbe9fc3b7b7acd2d07199a0d1b78b85d6308e62da53bd0e24be7c029e099&ipo=images" class="img-fluid" alt="Sandwich Prince Vladimir" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Sandwich "Prince Vladimir" <span class="float-end">8.00€</span></h4>
                    <p>Un sandwich généreux avec du pain de seigle, du saumon fumé, et de la crème fraîche. Un goût riche digne de la noblesse russe.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flittlesunnykitchen.com%2Fwp-content%2Fuploads%2F2020%2F11%2FEasy-Quiche-Recipe-1.jpg&f=1&nofb=1&ipt=13538cc6e128ac3b56e61c67d063e8e47304020d5dc1341e38d32e06fd4dc3ab&ipo=images" class="img-fluid" alt="Quiche Tatiana" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Quiche "Tatiana" <span class="float-end">7.50€</span></h4>
                    <p>Une quiche moelleuse aux épinards et au fromage de chèvre, parfaite pour un repas léger mais satisfaisant.</p>
                </div>
            </div>
  <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.thespruceeats.com%2Fthmb%2FRaDQlX0Pa5N9vo-7hg_u-ASqsxY%3D%2F2121x1414%2Ffilters%3Afill(auto%2C1)%2FGettyImages-619568738-597404dd6f53ba001080a5e2.jpg&f=1&nofb=1&ipt=cabf7917f6911201423d626609499384c05e83d5c4b48b33603602d2e71c8667&ipo=images" class="img-fluid" alt="Gâteau Napoléon" style="width:250px; height:200px;object-fit:cover;">
                </div>
                <div class="col-md-8">
                    <h4>Gâteau Napoléon <span class="float-end">5.00€</span></h4>
                    <p>Un gâteau classique composé de couches de pâte feuilletée et de crème pâtissière, parfait pour un goûter élégant.</p>
                </div>
            </div>
    </div>

    <!-- Section: Menu pour Enfants -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="mb-4 text-center">Menu Enfants</h2>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.static-rmg.be%2Fa%2Fview%2Fq75%2Fw%2Fh%2F2017822%2Fhot-jpg.jpg&f=1&nofb=1&ipt=a630f24adc49182bfd8bea1c3ac1f441ba041da870b9f4c527659794dda95ec5&ipo=images" class="img-fluid" alt="Chocolat Chaud Petite Duchesse" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Chocolat Chaud "Petite Duchesse" <span class="float-end">2.00€</span></h4>
                    <p>Un chocolat chaud doux et crémeux, parfait pour les petits aristocrates en herbe.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fzenandspice.com%2Fwp-content%2Fuploads%2F2018%2F03%2Fblueberry-muffins-5.jpg&f=1&nofb=1&ipt=2adbf979d332053e5ee9c74c58aedfcf043290cb72197d7da288081f9b8ff733&ipo=images" class="img-fluid" alt="Mini Muffins Romanov" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Mini Muffins "Romanov" <span class="float-end">3.00€</span></h4>
                    <p>Un assortiment de mini muffins moelleux, parfaits pour les petites mains et les grandes envies.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fbonmatin.ch%2Fwp-content%2Fuploads%2F2016%2F04%2Fcoupe-fruits-frais-high.jpg&f=1&nofb=1&ipt=f1440cd042798bd9a0f4393d3054273d060cd5d91dd3c3d87c33b0418cf464b9&ipo=images" class="img-fluid" alt="Coupe de Fruits Tsarévitch" style="width: 250px; height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <h4>Coupe de Fruits "Tsarévitch" <span class="float-end">2.50€</span></h4>
                    <p>Une coupe de fruits frais et colorés, parfaite pour une pause saine et délicieuse.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-5">
        <p>Vous avez aimé notre menu ? N'oubliez pas de commander votre boisson préférée pour accompagner ces mets royaux !</p>
        <br>
        <a href="{{ path('app_reservation') }}" class="btn btn-success">Réserver une Table</a>
        <p></p>
    </div>
</div>
{% endblock %}
