{% extends 'base.html.twig' %}

{% block title %}Menu - Tsarbucks{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Menu Tsarbucks</h1>
    <p class="text-center lead">Découvrez notre sélection de plats et boissons, inspirée par les grandes figures de l'histoire russe. Savourez l'histoire, une tasse ou une assiette à la fois !</p>

    <div class="row">
        <!-- Section: Boissons -->
        <div class="col-md-6">
            <h2 class="mb-4">Boissons</h2>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcafe1820.com%2Fwp-content%2Fuploads%2F2020%2F03%2Fespresso-P3VSFDV-scaled.jpg&f=1&nofb=1&ipt=a42032917484249b0f55650a4ec9aa839bdfcd1d7ada4639a8a0ef80a2005b9c&ipo=images" class="img-fluid" alt="Espresso Pierre le Grand" style="max-height: 150px; width: auto;">
                </div>
                <div class="col-md-8">
                    <h4>Espresso "Pierre le Grand" <span class="float-end">2.50€</span></h4>
                    <p>Un café puissant et audacieux, à l'image du tsar qui modernisa la Russie. Idéal pour commencer la journée avec une détermination impériale.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.envouthe.com%2Fblog%2Fwp-content%2Fuploads%2F2015%2F11%2Fsamovar_decore.jpg&f=1&nofb=1&ipt=726864f2e0a93a2094b4ffc5e808faf8d775245ec83d287c9574f3267a7f6b52&ipo=images" class="img-fluid" alt="Thé Catherine II" style="max-height: 150px; width: auto;">
                </div>
                <div class="col-md-8">
                    <h4>Thé "Catherine II" <span class="float-end">3.00€</span></h4>
                    <p>Un thé noir délicat, infusé avec des notes de bergamote et de jasmin, digne de l'élégance et du raffinement de la Grande Catherine.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftouille.fr%2Frecette%2Fle-meilleur-chocolat-chaud%2Fimages%2Fle-meilleur-chocolat-chaud.jpg&f=1&nofb=1&ipt=dc75de77a96a4df2273b24197b746a2d5d0ab1670c3ce179f821447db3fb2ec0&ipo=images" class="img-fluid" alt="Chocolat Chaud Anastasia" style="max-height: 150px; width: auto;">
                </div>
                <div class="col-md-8">
                    <h4>Chocolat Chaud "Anastasia" <span class="float-end">3.50€</span></h4>
                    <p>Un chocolat chaud réconfortant avec une touche de cannelle, aussi mystérieux que la grande-duchesse. Parfait pour les amateurs de douceurs royales.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fb2%2Fed%2Fd4%2Fb2edd4242b330412732d1e7be2f91a25.jpg&f=1&nofb=1&ipt=6a13e0d6bafff4f68452223596c401d81bfc12789b895b9c0c53bd3ad3b93ab8&ipo=images" class="img-fluid" alt="Limonade Raspoutine" style="max-height: 150px; width: auto;">
                </div>
                <div class="col-md-8">
                    <h4>Limonade "Raspoutine" <span class="float-end">2.80€</span></h4>
                    <p>Une limonade sombre et intrigante, infusée de menthe et de basilic. Rafraîchissante, mais avec une pointe d'énigme, tout comme son homonyme.</p>
                </div>
            </div>
        </div>

        <!-- Section: Plats -->
        <div class="col-md-6">
            <h2 class="mb-4">Plats</h2>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.papillesetpupilles.fr%2Fwp-content%2Fuploads%2F2008%2F11%2FBlinis-%25C2%25A9-margouillat-photo-shutterstock.jpg&f=1&nofb=1&ipt=b07decb736035649cd3435db9d41ff680ec41db08c9b82ef93513b601a1cf622&ipo=images" class="img-fluid" alt="Blinis Ivan le Terrible" style="max-height: 150px; width: auto;">
                </div>
                <div class="col-md-8">
                    <h4>Blinis "Ivan le Terrible" <span class="float-end">8.00€</span></h4>
                    <p>Des blinis rustiques, servis avec une sélection de garnitures traditionnelles russes. Un plat robuste pour les appétits d'acier.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pratico-pratiques.com%2Fapp%2Fuploads%2Fsites%2F3%2F2018%2F08%2F20183942%2Fboeuf-stroganoff-1.jpeg&f=1&nofb=1&ipt=a6b1ffef7b895cb185117ad420512df7599804f7bf3b58f312ad94f968b0f613&ipo=images" class="img-fluid" alt="Boeuf Stroganoff Nicolas II" style="max-height: 150px; width: auto;">
                </div>
                <div class="col-md-8">
                    <h4>Boeuf Stroganoff "Nicolas II" <span class="float-end">12.50€</span></h4>
                    <p>Un plat emblématique, aussi riche et crémeux que les palais impériaux. Une recette classique pour les amateurs de tradition.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi0.wp.com%2Fwww.gastrosenses.com%2Fwp-content%2Fuploads%2F2016%2F03%2FSavory-Fried-Pirozhki-3.jpg%3Fresize%3D1165%252C1800%26quality%3D100%26strip%3Dall&f=1&nofb=1&ipt=4c65d405d6ac4c248499bae62d864680b68243c151b66c4fd15f01ca6733de10&ipo=images" class="img-fluid" alt="Pirozhki Lénine" style="max-height: 150px; width: auto;">
                </div>
                <div class="col-md-8">
                    <h4>Pirozhki "Lénine" <span class="float-end">6.50€</span></h4>
                    <p>Petits pains fourrés, aussi révolutionnaires que leur nom. Parfaits pour une collation rapide lors de votre propre révolution culinaire.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.apartmenttherapy.info%2Fimage%2Fupload%2Ff_auto%2Cq_auto%3Aeco%2Fk%2FPhoto%2FRecipes%2F2020-08-how-to-pelmeni%2FKitchn_SBSGuide_SiberianPelmeniDumpling_0213&f=1&nofb=1&ipt=57a12f73815dcd5e056080b68fc8fd811d1a1a00f42b47847c78ccf623d444f1&ipo=images" class="img-fluid" alt="Pelmeni Trotski" style="max-height: 150px; width: auto;">
                </div>
                <div class="col-md-8">
                    <h4>Pelmeni "Trotski" <span class="float-end">9.00€</span></h4>
                    <p>Raviolis russes, farcis de viande savoureuse. Aussi pleins de surprises que la carrière de Trotski. À déguster avec prudence!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-5">
        <p>Vous avez aimé notre menu ? N'oubliez pas de commander votre boisson préférée pour accompagner ces mets historiques !</p>
        <a href="{{ path('app_reservation') }}" class="btn btn-success">Réserver une Table</a>
    </div>
</div>
{% endblock %}
