{% extends 'base.html.twig' %}

{% block title %}Меню Завтрака, Бранча и Полдника - Tsarbucks{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Меню Завтрака, Бранча и Полдника Tsarbucks</h1>
    <p class="text-center lead">Начните свой день с королевского завтрака, продолжите вкусным бранчем и завершите полдником, идеальным для конца дня или легкого ужина.</p>

    <div class="row">
        <!-- Горячие Напитки -->
        <div class="col-md-6">
            <h2 class="mb-4">Горячие Напитки</h2>

            <div class="menu-item mb-4">
                <img src="path/to/expresso.jpg" class="img-fluid rounded mb-2" alt="Эспрессо">
                <h4>Эспрессо <span class="float-end">2.00€</span></h4>
                <p>С буквой X, чтобы раздражать итальянцев, потому что эспрессо - это жизнь!</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/rixtretto.jpg" class="img-fluid rounded mb-2" alt="Ристретто">
                <h4>Ристретто <span class="float-end">2.20€</span></h4>
                <p>Эспрессо с дополнительной буквой X для тех, кто любит жить опасно.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/capuccino.jpg" class="img-fluid rounded mb-2" alt="Капучино">
                <h4>Капучино <span class="float-end">3.00€</span></h4>
                <p>Идеальное сочетание эспрессо, горячего молока и пены для тех, кто любит шоколадную пену... без шоколада.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/moka.jpg" class="img-fluid rounded mb-2" alt="Мока">
                <h4>Мока <span class="float-end">3.50€</span></h4>
                <p>Сладкий эспрессо с шоколадом и молоком, потому что шоколад - это жизнь!</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/cafe_perkele.jpg" class="img-fluid rounded mb-2" alt="Кофе Перкеле">
                <h4>Кофе Перкеле <span class="float-end">2.50€</span></h4>
                <p>Классический кофе, медленно заваренный для насыщенного вкуса, потому что кофе - это серьезно.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/napoleon_press_coffee.jpg" class="img-fluid rounded mb-2" alt="Кофе Наполеон Пресс">
                <h4>Кофе Наполеон Пресс <span class="float-end">3.00€</span></h4>
                <p>Свежеприготовленный кофе по французскому методу, потому что даже Наполеон любил свой кофе прессованным.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/moscovite.jpg" class="img-fluid rounded mb-2" alt="Московит">
                <h4>Московит <span class="float-end">3.50€</span></h4>
                <p>Эспрессо со взбитыми сливками, потому что даже московиты любят сладость.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/russiano.jpg" class="img-fluid rounded mb-2" alt="Руссиано">
                <h4>Руссиано <span class="float-end">2.50€</span></h4>
                <p>Эспрессо с горячей водой, потому что иногда нужно разбавить соус.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/chocolat_chaud.jpg" class="img-fluid rounded mb-2" alt="Горячий Шоколад">
                <h4>Горячий Шоколад <span class="float-end">3.00€</span></h4>
                <p>Богатый и нежный шоколад, потому что шоколад - это жизнь!</p>
            </div>
        </div>

        <!-- Чаи и Холодные Напитки -->
        <div class="col-md-6">
            <h2 class="mb-4">Чаи и Холодные Напитки</h2>

            <div class="menu-item mb-4">
                <img src="path/to/the_noir.jpg" class="img-fluid rounded mb-2" alt="Черный Чай">
                <h4>Черный Чай <span class="float-end">2.00€</span></h4>
                <p>Богатый и классический настой черного чая, потому что черный чай - это новый черный.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/the_polonium.jpg" class="img-fluid rounded mb-2" alt="Чай с Полонием (зеленый)">
                <h4>Чай с Полонием (зеленый) <span class="float-end">2.50€</span></h4>
                <p>Легкий и освежающий зеленый чай, потому что полоний радиоактивен... но зеленый чай полезен!</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/the_mentheur.jpg" class="img-fluid rounded mb-2" alt="Чай с Мятой">
                <h4>Чай с Мятой <span class="float-end">2.50€</span></h4>
                <p>Освежающий настой из листьев мяты, потому что ментор - это новый ментор.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/the_russie_blanche.jpg" class="img-fluid rounded mb-2" alt="Белый Русский Чай">
                <h4>Белый Русский Чай <span class="float-end">3.00€</span></h4>
                <p>Нежный и слегка цветочный, потому что белый русский - это новый белый.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/rooibots.jpg" class="img-fluid rounded mb-2" alt="Ройботс">
                <h4>Ройботс <span class="float-end">2.50€</span></h4>
                <p>Южноафриканский настой, натурально без кофеина, потому что ройботс - это новые роботы.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/matcha.jpg" class="img-fluid rounded mb-2" alt="Матча">
                <h4>Матча <span class="float-end">4.00€</span></h4>
                <p>Японский зеленый чай, взбитый в горячей воде, потому что матча - это новый матч.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/chai.jpg" class="img-fluid rounded mb-2" alt="Чай">
                <h4>Чай <span class="float-end">3.50€</span></h4>
                <p>Пряный чай на основе горячего молока, потому что чай - это новый чай.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/novichok.jpg" class="img-fluid rounded mb-2" alt="Новичок (обычная вода)">
                <h4>Новичок (обычная вода) <span class="float-end">1.50€</span></h4>
                <p>Чистая и освежающая вода, потому что новичок - это новый шок.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/jus_de_fruit.jpg" class="img-fluid rounded mb-2" alt="Фруктовый Сок 'Тропико'">
                <h4>Фруктовый Сок "Тропико" <span class="float-end">3.00€</span></h4>
                <p>Свежий фруктовый сок на выбор, потому что тропико - это новый тропик.</p>
            </div>
        </div>
    </div>

    <!-- Раздел: Выпечка -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="mb-4">Выпечка</h2>

            <div class="menu-item mb-4">
                <img src="path/to/croissant.jpg" class="img-fluid rounded mb-2" alt="Круассан">
                <h4>Круассан <span class="float-end">2.00€</span></h4>
                <p>Традиционный сливочный круассан, потому что круассан - это новый круассан.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/chocolatine.jpg" class="img-fluid rounded mb-2" alt="Шоколатина">
                <h4>Шоколатина <span class="float-end">2.20€</span></h4>
                <p>Золотистый и хрустящий шоколадный круассан, потому что шоколатина - это новый шоколад.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/gateau_napoleon.jpg" class="img-fluid rounded mb-2" alt="Торт Наполеон">
                <h4>Торт Наполеон <span class="float-end">5.00€</span></h4>
                <p>Слои слоеного теста и крема, потому что торт Наполеон - это новый торт.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/muffin.jpg" class="img-fluid rounded mb-2" alt="Маффин">
                <h4>Маффин <span class="float-end">2.50€</span></h4>
                <p>Мягкий маффин, доступный в различных вкусах, потому что маффин - это новый маффин.</p>
            </div>
            <div class="menu-item mb-4">
                <img src="path/to/cookies_communiste.jpg" class="img-fluid rounded mb-2" alt="Коммунистические Печенья">
                <h4>Коммунистические Печенья <span class="float-end">3.00€</span></h4>
                <p>Потому что даже коммунисты любят печенье.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
