{% extends 'base.html.twig' %}

{% block title %}Legal Notices - Tsarbucks{% endblock %}

{% block body %}
<section class="py-5 bg-light">
    <div class="container">
        <h1 class="text-center mb-4">Legal Notices</h1>

        <div class="row">
            <div class="col-md-12">
                <h2 class="mt-4">1. Legal Information</h2>
                <p>
                    In accordance with the provisions of Articles 6-III and 19 of Law No. 2004-575 of June 21, 2004, for Confidence in the Digital Economy, known as L.C.E.N., users and visitors of the Tsarbucks website are informed of the following legal notices.
                </p>
                <p>
                    The Tsarbucks website is accessible at the following address: www.tsarbucks.com (hereinafter "the Site"). Access to and use of the Site are subject to these "Legal Notices" detailed below as well as applicable laws and/or regulations.
                </p>

                <h2 class="mt-4">2. Site Publisher</h2>
                <p>
                    The Tsarbucks website is published by:
                </p>
                <ul>
                    <li><strong>Company Name:</strong> Tsarbucks Inc.</li>
                    <li><strong>Address:</strong> 123 Avenue des Tsars, 75000 Paris, France</li>
                    <li><strong>Phone:</strong> +33 1 23 45 67 89</li>
                    <li><strong>Email:</strong> contact@tsarbucks.com</li>
                    <li><strong>Publication Director:</strong> Ivan Romanov</li>
                </ul>

                <h2 class="mt-4">3. Hosting</h2>
                <p>
                    The site is hosted by:
                </p>
                <ul>
                    <li><strong>Host Name:</strong> Host XYZ</li>
                    <li><strong>Address:</strong> 456 Rue de l'Internet, 75000 Paris, France</li>
                    <li><strong>Phone:</strong> +33 9 87 65 43 21</li>
                </ul>

                <h2 class="mt-4">4. Intellectual Property</h2>
                <p>
                    The general structure of the Site as well as the texts, graphics, images, sounds, and videos that compose it are the property of the publisher or its partners. Any representation and/or reproduction and/or exploitation, partial or total, of the contents and services offered by the Site, by any process whatsoever, without the prior written authorization of Tsarbucks and/or its partners is strictly prohibited and could constitute counterfeiting under Articles L 335-2 and following of the Intellectual Property Code.
                </p>

                <h2 class="mt-4">5. Hyperlinks</h2>
                <p>
                    The Site may contain hyperlinks to other sites on the Internet. Links to these other resources will take you away from the Site. It is possible to create a link to the presentation page of this Site without the express authorization of the publisher. No prior authorization or information request can be required by the publisher regarding a site wishing to establish a link to the publisher's site. However, the site must be displayed in a new browser window. However, the publisher reserves the right to request the removal of a link it deems non-compliant with the purpose of the Site.
                </p>

                <h2 class="mt-4">6. Collection of Personal Data</h2>
                <p>
                    The information collected on the Site is subject to computer processing intended for the management of our relationship with you. They are kept for the duration strictly necessary for the realization of the purposes mentioned at the time of their collection.
                </p>
                <p>
                    In accordance with the amended "Data Protection Act" of January 6, 1978, and the General Data Protection Regulation (GDPR), you have the right to access, rectify, erase, and port your data. You can also object to the processing or request its limitation.
                </p>

                <h2 class="mt-4">7. Cookies</h2>
                <p>
                    The Site may automatically collect standard information such as your IP address, browser type, operating system, and access times. All information collected indirectly will only be used to track the volume, type, and configuration of traffic using this Site, to develop its design and layout, and for other administrative and planning purposes and more generally to improve the service we offer you.
                </p>

                <h2 class="mt-4">8. Applicable Law</h2>
                <p>
                    These terms and conditions of the Site are governed by French law, and any dispute or controversy arising from the interpretation or execution thereof shall be subject to the exclusive jurisdiction of the French courts.
                </p>

                <h2 class="mt-4">9. Contact</h2>
                <p>
                    For any questions or information about the products presented on the Site, or concerning the Site itself, you can leave a message at the following address: contact@tsarbucks.com
                </p>
            </div>
        </div>
        <div class="mt-4">
            <a href="{{ path('app_home') }}" class="btn btn-success">Return to Home</a>
        </div>
    </div>
</section>
{% endblock %}
