{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Modifier</h1>

    <div class="card p-4 shadow-sm mb-4">
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <div class="d-flex justify-content-between mt-3">
        <a href="{{ path('app_user_index') }}" class="btn btn-primary">
            <i class="bi bi-arrow-left"></i> Retour
        </a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
